.contact-section {
  padding: 50px 20px;
  background-color: #f9fafb;
  text-align: center;
}

.contact-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-card {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  flex: 1 1 300px;
  text-align: left;
}

/* Tablet ve Telefon için Uyarlama */
@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 30px;
  }

  .contact-card {
    max-width: 100%;
    flex: 1 1 100%;
  }
}



.contact-card h3 {
  color: #D90429;
  font-size: 24px;
  margin-bottom: 15px;
}

.contact-card p {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-card ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-card ul li {
  margin-bottom: 5px;
  font-size: 16px;
}

/* Mobil1 Bayisi Kartı Stili */
.mobil1-card {
  background-color: #f7f9fc;
  border: 2px solid #d0e2f2;
  padding-top: 40px;
  text-align: left;
}

.mobil-logo {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

/* İkonların Stili */
.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Linklerin Stili */
.maps-link, .mobil1-link {
  background-color: #D90429;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.maps-link:hover, .mobil1-link:hover {
  background-color: #b60320;
}

/* Sabit WhatsApp Butonu */
.whatsapp-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.whatsapp-fixed img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.whatsapp-fixed:hover {
  background-color: #1da354;
}

/* Küçük ekranlarda daha küçük buton boyutları */
@media (max-width: 768px) {
  .whatsapp-fixed {
    padding: 8px 15px;
    font-size: 14px;
  }

  .whatsapp-fixed img {
    width: 20px;
    height: 20px;
  }
}

