.gallery-section {
    background-color: #f3f4f6;
    padding: 40px;
    text-align: center;
  }
  
  .gallery-section h2 {
    color: #D90429;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .scroll-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .gallery-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
  }
  
  .gallery-container img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }
  /* Tablet ve Telefon için Uyarlama */
@media (max-width: 768px) {
  .gallery-section h2 {
    font-size: 22px;
  }

  .gallery-item {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}
  
  .scroll-button {
    background-color: #d90429;
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
    position: relative;
    z-index: 10;
  }
  
  .scroll-button:hover {
    background-color: #b60320;
    transform: scale(1.1);
  }
  
  .scroll-button.left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .scroll-button.right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  