/* Genel Header Stili */
.header {
  background-color: #fff;
  color: #111;
  padding: 20px 0;
  border-bottom: 2px solid #e5e7eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* Header içeriği */
.header-content {
  display: flex;
  align-items: center; /* Dikeyde ortalama */
  justify-content: space-between; /* Sağ ve sol içeriği ayırma */
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Logo */
.logo {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

/* Ortadaki başlık */
.header-title {
  flex: 1;
  text-align: center;
  color: #D90429;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Menü ikonu (Mobil) */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Menü linkleri */
.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto; /* Menü sağa yaslanır */
}
/* Aktif Link (NavLink) Stili */
.nav-links .active-link {
  color: #D90429; /* Aktif olan linkin rengi */
  font-weight: bold;
  text-decoration: underline;
}
/* Link butonlar için */
.link-button {
  background: none;
  border: none;
  color: #111;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: inherit;
}

.link-button:hover {
  color: #D90429;
  font-weight: bold;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  color: #111;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #D90429;
  font-weight: bold;
}

/* Mobil görünüm */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%; /* Header’ın hemen altında olacak */
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column; /* Menüyü dikey sırala */
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Başlangıçta gizli */
    transform: translateY(-20px); /* Yukarıda gizli */
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animasyon */
  }

  /* Mobilde Menü Açıldığında */
  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  /* Hamburger Menü Göster */
  .menu-icon {
    display: block;
  }

  /* Menü Linkleri Dikey */
  .nav-links ul {
    flex-direction: column; /* Mobilde menü linklerini dikey hizala */
    gap: 15px;
  }
}
